In [1]:
from montage_manager import *
import pandas as pd

## Creating montages from a CSV file (with binning)

In [2]:
M = Montages()

In [3]:
df = pd.read_csv("cluster_11.csv")
df.head()

                                        image_paths    city  dummy
0                     ../images/SD_R8C2t/SD_909.JPG      SD      0
1  ../images/London_R6C7/London07222014_R6C7339.JPG  London      1
2                    ../images/SD_R8C2t/SD_4798.JPG      SD      2
3           ../images/joburg_R11C1t/Joburg_2456.JPG  joburg      3
4           ../images/joburg_R11C1t/Joburg_2443.JPG  joburg      4

In [4]:
montages = M.binned_montage(df, img_paths_col="image_paths", bins_col="city", vals_col="dummy")

number of images: 1661
number of images: 2593
number of images: 1403
number of images: 1320

In [5]:
type(montages[0])

tuple

In [8]:
meh = [("a",2), ("b", 3), ("c", 4)]

In [9]:
for a,b in meh:
    print a, b

a 2
b 3
c 4